html {
  font-size: 14px;
}
body {
  font-family: JetBrains Mono, monospace;
  color: #d0dad9;
  background-color: #242831;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a:visited {
  color: none;
}
a {
  color: #e68bbe;
}
.container {
  min-height: 100vh;
  width: 800px;
  margin: 50px auto;
}
h1 {
  text-align: center;
  color: #eea990;
}
h2 {
  margin: 30px 0;
  color: #4a7ba6;
}
h3 {
  margin: 20px 0;
  color: #c9ffc7;
}
